<div class="row mt-3 u-pull-right">
  <div class="twelve columns u-pull-right">
    <% for (name in theme.menu) { %>
      <% if (theme.menu[name]) { %>
      <a href="<%- url_for(theme.menu[name]) %>" class="ml u-pull-right"><%- name %></a>
      <% } %>
    <% } %>
    <a class="u-pull-right" href="<%= config.root %>">Home</a>
    <a class="mr u-pull-right" href="https://ko-fi.com/spencergb">Ko-fi</a>
    <!-- <% if (theme.email) { %>
      <% if (typeof obfuscate === "function") { %>
        <a href="mailto:<%- obfuscate(theme.email) %>" target="_blank" class="ml">Email</a>
      <% } else { %>
        <a href="mailto:<%= theme.email %>" target="_blank" class="ml">Email</a>
      <% } %>
    <% } %> -->
  </div>
</div>

<div class="row mb-1 mt-0">
  <div class="one column">
    <h1 class="mt-2 mode">
      <div onclick=setDarkMode(true) id="darkBtn"><%= theme.switch_dark %></div>
      <div onclick=setDarkMode(false) id="lightBtn" class=hidden><%= theme.switch_light %></div>
      <script >
        function setDarkMode(isDark) {
            var darkBtn = document.getElementById('darkBtn')
            var lightBtn = document.getElementById('lightBtn')
            if (isDark) {
              lightBtn.style.display = "block"
              darkBtn.style.display = "none"
              localStorage.setItem('preferredTheme', 'dark');
            } else {
              lightBtn.style.display = "none"
              darkBtn.style.display = "block"
              localStorage.removeItem('preferredTheme');
            } 
            document.getElementsByClassName("email")[0].classList.toggle("email-darkmode"); 
            document.body.classList.toggle("darkmode");
        }
        window.addEventListener('load', function() {
          if (localStorage.getItem('preferredTheme') == 'dark') {
            setDarkMode(true);
          }
        });
      </script>
    </h1>
  </div>

  <div class="six columns ml-1">
    <h1 class="mt-2">
      <%= theme.title %>
    </h1>
  </div>
</div>

<hr style="margin-bottom: 2.6rem; margin-top: 1.6rem;">
