<div class="row">
  <div class="five columns">
    <div id="splide" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <% theme.coverimages.forEach(function(d){ %>
            <li class="splide__slide">
              <img class="u-max-full-width" src="<%= d.image %>" alt="<%- d.image_alt %>">
              <p class="desc" id="carousel-desc"><%- d.description %></p>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>  

  <div class="seven columns">
    <h2>
      <% theme.header.forEach(function(d){ %>
        <%= d %><br>
      <% }) %>
    </h2>
    <!-- <h2><u><%= theme.header %></u></h2> -->
    <% theme.desc.forEach(function(d){ %>
      <p><%= d %></p>
    <% }) %>
  </div>
</div>

<div class="row mt-2">
  <div class="twelve columns">
    <p><%= theme.subdesc %></p>
  </div>
</div>

<h2 class="mt-2">some of my work</h2>

<!-- TODO: Implement spotify stuff -->
<!-- <div class="row">
  <div class="six columns mb-3">
  <iframe class="u-max-full-width" src="https://open.spotify.com/embed?uri=spotify:track:19RV3EkvLt39bWSZwsiGjy&theme=white" height="80" frameborder="0" allowtransparency="true"></iframe>
  </div>
  <div class="six columns mb-3">
    <iframe class="u-max-full-width" src="https://open.spotify.com/embed?uri=spotify:track:19RV3EkvLt39bWSZwsiGjy&theme=white" height="80" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div> -->

<% site.posts.sort('date', 'desc').limit( Math.floor(site.posts.length/2)).each(function(post, i){ %>
<div class="row">
  <div class="six columns mb-3">
    <% if (site.posts.toArray()[i * 2].href) { %>
      <a href="<%- site.posts.toArray()[i * 2].href %>">
    <% } else { %>
      <a href="<%- url_for(site.posts.toArray()[i * 2].path) %>">
    <% } %>
      <img class="u-max-full-width" src="<%- site.posts.toArray()[i * 2].featured_image %>" alt="<%- site.posts.toArray()[i * 2].thumbnail_alt %>"> 
      <%- site.posts.toArray()[i * 2].title %>
    </a>
    <p class="desc"><%- site.posts.toArray()[i * 2].byline %></p>
  </div>
  <div class="six columns mb-3">
    <% if (site.posts.toArray()[i * 2 + 1].href) { %>
      <a href="<%- site.posts.toArray()[i * 2 + 1].href %>">
    <% } else { %>
      <a href="<%- url_for(site.posts.toArray()[i * 2 + 1].path) %>">
    <% } %>
      <img class="u-max-full-width" src="<%- site.posts.toArray()[i * 2 + 1].featured_image %>" alt="<%- site.posts.toArray()[i * 2 + 1].thumbnail_alt %>"> 
      <%- site.posts.toArray()[i * 2 + 1].title %>
    </a>
    <p class="desc"><%- site.posts.toArray()[i * 2 + 1].byline %></p>
  </div>
</div>
<% }) %>

<% site.posts.sort('date', 'desc').limit( site.posts.length % 2).each(function(post, i){ %>
<div class="row">
  <div class="six columns mb-3 offset-by-three">
    <a href="<%- url_for(site.posts.toArray()[site.posts.length - 1].path) %>" class="bottom"> 
      <img class="u-max-full-width" src="<%- site.posts.toArray()[site.posts.length - 1].featured_image %>" alt="<%- site.posts.toArray()[site.posts.length - 1].thumbnail_alt %>"> 
      <%- site.posts.toArray()[site.posts.length - 1].title %>
    </a>
    <p class="desc"><%- site.posts.toArray()[site.posts.length - 1].byline %></p>
  </div>
</div>
<% }) %>

<!-- <div class="row">
  <div class="twelve columns">
    <div id="mapid" style="height: 500px;"></div>
  </div>
</div> -->

<!-- <h4> <a href="<%= config.root %>archives">All Posts</a></h4> -->
<script src="<%- theme.splide %>"></script>
<script>
  // more options: https://splidejs.com/options/
  new Splide( '#splide', {
    interval: parseInt("<%- theme.carousel.interval %>"),
    speed: parseInt("<%- theme.carousel.speed %>"),
    gap: parseInt("<%- theme.carousel.gap %>"),
    padding: parseInt("<%- theme.carousel.padding %>"),
    perPage: parseInt("<%- theme.carousel.perPage %>"),
    start: parseInt("<%- theme.carousel.start %>"),
    type: "<%- theme.carousel.type %>",
    pagination: "<%- theme.carousel.pagination %>" == 'true',
    autoplay: "<%- theme.carousel.autoplay %>" == 'true',
    arrows: "<%- theme.carousel.arrows %>" == 'true',
    pauseOnHover: "<%- theme.carousel.pauseOnHover %>" == 'true',
    pauseOnFocus: "<%- theme.carousel.arrpauseOnFocusows %>" == 'true',
    resetProgress: "<%- theme.carousel.resetProgress %>" == 'true',
    keyboard: "<%- theme.carousel.keyboard %>"
  }).mount();
</script>