<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">

  <%
  if (!config.author) {
    config.author = ""
  }

  var title = title = config.title;
  if (is_archive()){
    title = 'All Posts - ' + config.author;
  } else if (is_post()){
    title = page.title;
  } else if (is_page()){
    title = page.title + ' - ' + config.author;
  } else if (is_tag()){
    title = 'Posts Related to ' + page.tag;
  }
  %>
  <title><%= title %></title>
  <% if (config.sitemap) { %>
  <link rel="sitemap" href="<%-config.url + config.sitemap.path %>" />
  <% } %>
  <link rel="canonical" href="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>">
  <% if (is_page()){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (config.keywords) { %>
  <meta name="keywords" content="<%= config.keywords %>">
  <% } %>
  <meta name="author" content="<%- config.author %>">
  <% if (is_post() || is_page()) { %>
  <meta property="og:image" content="<%-config.url + page.thumbnail %>">
  <% } else { %>
  <meta property="og:image" content="<%-config.url + theme.thumbnail %>">
  <% } %>
  <meta property="og:site_name" content="<%= config.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= title %>" />
  <% if (is_page()){ %>
  <meta property="og:description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta property="og:description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta property="og:description" content="<%= config.description %>">
  <% } %>
  <meta property="og:url" content="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <% if (is_page()){ %>
  <meta name="twitter:description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta name="twitter:description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta name="twitter:description" content="<%= config.description %>">
  <% } %>
  <% if (is_post() || is_page()) { %>
  <meta name="twitter:image" content="<%-config.url + page.thumbnail %>">
  <% } else { %>
  <meta name="twitter:image" content="<%-config.url + theme.thumbnail %>">
  <% } %>
  <meta name="twitter:url" content="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%- css('css/normalize.css') %>
  <%- css('css/skeleton.css') %>
  <%- css('css/custom.css') %>
  <%- css('css/prism-dark.css') %>
  <%- css('css/prism-line-numbers.css') %>
  <!-- User css -->
  <% if (theme.usercss) { %>
  <%- css(theme.usercss) %>
  <% } %>

  <!-- Leaflet
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="<%- theme.favicon %>">

  <!-- Custom Theme Color Style
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%- partial('partial/tcolor') %>

  <!-- Google Analytics (With Privacy Settings On)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%- partial('partial/google_analytics') %>

</head>

<body>
  <!-- <div class="background"/> -->
  <div class="container">
    <div class="row">
      <div>
        <%- partial('partial/header') %>
        <div class="trans">
          <%- body %>
          <%- partial('partial/footer') %>
        </div>
      </div>
    </div>
  </div>
  <script src="<%- theme.nanobar %>"></script>
  <script>
    var options = {
      classname: 'nanobar',
      id: 'myNanobar'
    };
    var nanobar = new Nanobar(options);
    nanobar.go(30);
    nanobar.go(76);
    nanobar.go(100);
  
    // var map = L.map('mapid').setView([38, -97], 4);
    // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //   maxZoom: 19,
    //   attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    // }).addTo(map);
    // var imageUrl = 'images/Amtrak.svg';
    // var imageBounds = [[25.3013, -122.2892],
    //                    [45.201849, -74.0060]];
    // L.imageOverlay(imageUrl, imageBounds).addTo(map);
    // L.control.scale().addTo(map);
    // // show a marker on the map
    // L.marker([43.0481,-76.1474]).bindPopup('Syracuse, NY').addTo(map);
    // L.marker([41.8781,-87.62984]).bindPopup('Chicago, IL').addTo(map);
    // L.marker([39.7392,-104.9903]).bindPopup('Denver, CO').addTo(map);
    // L.marker([37.8395,-122.2892]).bindPopup('Emeryville, CA').addTo(map);
    // L.marker([34.0522,-118.2437]).bindPopup('Los Angeles, CA').addTo(map);
    // L.marker([32.2226,-110.974]).bindPopup('Tucson, AZ').addTo(map);
    // L.marker([29.4241,-98.4936]).bindPopup('San Antonio, TX').addTo(map);
    // L.marker([29.9511,-90.0715]).bindPopup('New Orleans, LA').addTo(map);
    // L.marker([33.7490,-84.3880]).bindPopup('Atlanta, GA').addTo(map);
    // L.marker([38.9072,-77.0369]).bindPopup('Washington, DC').addTo(map);
    // L.marker([40.7128,-74.0060]).bindPopup('New York, NY').addTo(map);

    // var coords = [[43.0481,-76.1474],
    //               [41.8781,-87.62984],
    //               [39.7392,-104.9903],
    //               [37.8395,-122.2892],
    //               [34.0522,-118.2437],
    //               [32.2226,-110.974],
    //               [29.4241,-98.4936],
    //               [29.9511,-90.0715],
    //               [33.7490,-84.3880],
    //               [38.9072,-77.0369],
    //               [40.7128,-74.0060]];
    
    // var polyline = L.polyline(coords).addTo(map);
  </script>

</body>

</html>
